@media (max-width: 1200px) {
    .container{
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .header__nav{
        display: none;
    }

    .burger{
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        border: 1px solid currentColor;
        border-radius: 3px;
        color: #3172B9;
    }
    .burger__line{
        width: 20px;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: inherit;
    }
    .burger__line:nth-child(1){
        top: 13px;
    }

    .burger__line:nth-child(2){
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__line:nth-child(3){
        bottom: 13px;
    }

    .header__button{
        padding: 11px 21px;
        margin-right: 7px;
    }

    .hero__content{
        max-width: 75%;
    }

    .services-items{
        --offsets: 2;
    }

    .clients-list{
        --offsets: 1;
    }

    .form-left{
        flex-direction: column;
    }

    .form-input, .form-select{
        width: auto;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__left{
        margin-bottom: var(--gap);
    }
}

@media (max-width: 768px) {
    .services-items{
        --offsets: 1;
    }

    .blog-preview{
        flex-direction: column;
    }

    .form{
        padding: 0;
    }

    .footer__nav .nav__item:not(:last-child) {
        margin-right: 18px;
    }
}

@media (max-width: 576px){
    .clients-list{
        --offsets: 0;
    }

    .contacts-list{
        --offsets: 0;
        gap: 30px;
    }

    .footer__right{
        flex-direction: column;
        margin-bottom: 28px;
    }
    
    .header__logo img{
        width: 80px;
    }

    .header{
        padding: 15px 0;
    }

    .hero__content{
        max-width: 100%;
    }

    .hero{
        padding-top: 30px;
        padding-bottom: 0;
        background-image: none;
    }

    .hero__title{
        margin-bottom: 16px;
    }

    .hero__descr{
        margin-bottom: 16px;
    }

    .hero__wrapper{
        width: 100%;
    }

    .hero__btn {
        width: 100%;
        padding: 20px 78px;
        margin-bottom: 16px;
    }
    .section-offset{
        padding: 60px 0;
    }

    .services-title{
        text-align: left;
    }

    .section-title{
        margin-bottom: 15px;
    }

    .section-descr{
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1px;
        text-align: left;
        margin-bottom: 15px;
    }

    :root{
        --gap: 15px;
    }

    .services-item{
        min-height: 222px;
        padding: 15px;
    }

    .services-item-icon{
        height: 42px;
        margin-bottom: 15px;
    }

    .services-item-title{
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 3px;
    }

    .services-item-desc{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }

    .articles-list{
        --offsets: 0;
        gap: 15px;
    }

    .blog-preview{
        flex-direction: row;
        height: 191px;
        min-height: 191px;
    }

    .blog-preview img{
        min-width: 86px;
        object-fit: cover;
    }

    .blog-preview-image{
        flex-shrink: 0;
        width: 86px;
        height: 100%;
    }

    .blog-preview-text{
        padding-left: 15px;
    }

    .blog-preview-title{
        margin-bottom: 3px;
    }

    .articles-item{
        margin-bottom: 0;
    }

    .articles-item:nth-child(3) .blog-preview-text{
        padding-top: 15px;
    }

    .clients-item{
        padding: 19px;
    }

    .clients-user{
        padding: 0 1px;
        padding-top: 32px;
    }

    .clients-name{
        margin-bottom: 5px;
        line-height: 90%;
    }

    .clients-avatar{
        height: 67px;
    }

    .contacts-title{
        margin-bottom: 13px;
    }

    .contacts-item{
        padding-top: 40px;
    }

    .contacts-item-caption{
        margin-bottom: 10px;
    }

    .join-us-title{
        text-align: left;
    }

    .form-top{
        flex-direction: column;
        margin-bottom: 15px;
    }

    .form-left{
        width: 100%;
        gap: 15px;
        margin-bottom: 15px;
    }

    .form-input{
        padding-left: 19px;
    }

    .form-select{
        padding-left: 18px;
    }

    .form-right{
        width: 100%;
    }

    .form-textarea{
        padding: 16px 20px;
        height: 240px;
    }

    .form-wrapper{
        width: 100%;
    }

    .form-btn{
        width: 100%;
        margin-bottom: 15px;
    }

    .footer__container{
        flex-direction: column-reverse;
    }

    .footer__nav .nav__link {
        font-size: 15px;
    }

    .footer__nav .nav__list{
        flex-wrap: wrap;
        gap: 15px 30px;
    }

    .footer{
        padding: 0;
        padding-top: 30px;        
    }

    .footer__nav .nav__item:not(:last-child) {
        margin-right: 0px;
    }

    .footer__nav{
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .footer__right{
        align-items: flex-start;
    }

    .footer__item:not(:last-child) {
        margin-right: 33px;
    }

    .link-twitter, .link-linkedin{
        width: 17px;
    }

    .link-mail{
        width: 24px;
    }

    .footer__left{
        margin-bottom: 0;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer__logo{
        width: 80px;
        margin-bottom: 26px;
    }

    .footer__copy{
        position: relative;
        width: 100%;
        text-align: center;
        padding: 17px 0;
    }

    .footer__copy::before{
        position: absolute;
        content: "";
        left: -15px;
        top: 0;
        width: calc(100% + 30px);
        height: 1px;
        background-color: #c4c4c4;
    }
}